# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- Popular languages that Data Scientists used
- Commonly used libraries used by Data Scientist
- Data Science Tools
- Arithmetic Expressions
- Converting minutes into hours

## Author
Shanmuga Mari B

# Some of the popular languages that Data Scientists use are:
    Python
    R
    SQL
    Java
    Julia

# Some of the commonly used libraries used by Data Scientists include:
    TensorFlow
    NumPy
    SciPy
    Pandas
    Matplotlib
    Keras
    SciKit-Learn
    PyTorch.

|Data Science Tools|
|-----------------|
|Tableau|
|Apache Spark|
|SAS|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
Hours = minutes // 60
print(Hours)

3